@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 0 0% 100%;
    --secondary-foreground: 95 15% 25%;
    --popover-foreground: 95 15% 25%;
    --primary-foreground: 0 0% 100%;
    --accent-foreground: 0 0% 100%;
    --muted-foreground: 95 15% 25%;
    --card-foreground: 95 15% 25%;
    --destructive: 0 100% 41%;
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --secondary: 43 50% 95%;
    --popover: 95 15% 90%;
    --primary: 95 15% 25%;
    --border: 95 15% 80%;
    --accent: 120 41% 36%;
    --muted: 95 15% 88%;
    --input: 95 15% 51%;
    --card: 95 15% 90%;
    --ring: 120 39% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
